.pannelRight{
    position: absolute;
    width: calc(50% - 15px);
    right: 0;
    top:0;
}


.pannelLeft{
    position: absolute;
    width: calc(50% - 15px);
    left: 0;
    top:0;
}
#editor{
    height:calc(100vh - 167px)!important;
}

#panel{
    min-height: calc(100vh - 65px);
    top: 64px;
    width: 100vw;
    overflow: visible;
    position: absolute;
    display: block;
    background: #1e1e1e;
}
#innerPanel{
    margin: 30px!important;
    position: relative;
    
}

@media only screen and (max-width: 600px) {
    .prehide{
        display: none;
    }
    .autoHigh{
        height: auto!important;
    }
    .pannelRight{
        display: block;
        position: relative;
        width: 100%;
        margin-top: 30px;
        padding-right: 15
    }
    #panel{
        min-height: calc(100vh - 56px);
        top: 56px;
        width: 100vw;
    }
    .pannelLeft{
        display: block;
        position: relative;
        width: 100%;
        height:auto
    }
    
    #panel{
        display: block;
        /* position: relative; */

    }
    #innerPanel{
        display: block;
        position: relative;

    }
    #editor{
        height:200px!important;
    }
}