#leftBar{
    display:inline-block;
    width:370px;
    background:rgba(63,81,181,1.2);
    color: '#fff';
    box-shadow: 0px 0px 15px black;
    z-index: 100;
    position: absolute;
    right: 0px;
    top:56px;
    min-height: calc(100vh - 56px);;
}
#panel{
    display:inline-block;
    width:calc(100% - 370px);
    background: #f5f5f5;
    text-align: center;
    /* margin-top: 56px; */
    min-height: calc(100vh - 56px);;
    position: absolute;
    left: 0;
    top:56px;
}

@media only screen and (max-width: 600px) {
    #leftBar{
        width: 0;
        overflow: hidden;
    }
    #panel{
        display:inline-block;
        width:100%;
        background: #f5f5f5;
        text-align: center
    }
  }